/* _form.scss */
.c-radio-item .label::before, 
.c-checkbox-item .label::before {
    content: "";
    display: inline-block;
    min-width: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
    border: 0.0625rem solid #000;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0.25rem;
}

.c-radio-item label, 
.c-checkbox-item label {
    display: flex;
    align-items: center;
    position: relative;
    line-height: 1.25rem;
}

.c-input-item label {
    display: block;
    color: #333;
    margin-bottom: 0.5rem;
}
.c-radio-item input[type=radio] {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 1.25rem;
    height: 1.25rem;
    opacity: 0;
}

.font-m-normal-20 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 400;
}

.c-input-item label {
    display: block;
    color: #333;
    margin-bottom: 0.5rem;
}

.c-input-item input, 
.c-input-item textarea {
    width: 100%;
    height: 2.75rem;
    padding-left: 0.8125rem;
    padding-right: 0.8125rem;
    border: 0.0625rem solid #cbc8c2;
    background-color: #fff;
    border-radius: 0.75rem;
}

.c-input-item input.my-warn, 
.c-input-item textarea.my-warn {
    border-color: #ea1917;
}

.c-warning {
    color: #ea1917;
    position: relative;
    padding-left: 0.8125rem;
    margin-top: 0.375rem;
    font-size: 0.75rem;
    line-height: 0.875rem;
}

/* _button.scss */
.c-icon-button {
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: none;
    padding: 0;
    white-space: nowrap;
    color: #000;
    outline-offset: 0;
    column-gap: 0.25rem;
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-weight: 600;
}

.c-icon-button:before {
    content: "";
    display: inline-block;
    background-position: 100% center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 1.25rem;
    height: 1.25rem;
}

.c-icon-button[class*=-more-info] {
    justify-content: center;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
}

.c-icon-button[class*=-more-info] {
    justify-content: center;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
}

.c-icon-button[class*=-more-info]:before {
    width: 100%;
    height: 100%;
    background-image: url(../../assets/icon/icon-exclamation-mid-gray2-16-16.svg);
}

a.c-icon-button, 
button.c-icon-button {
    cursor: pointer;
}


/* _accordion.scss */
.c-accordion__button {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.c-accordion__button:after {
    content: "";
    display: block;
    width: 0.75rem;
    height: 0.4375rem;
    background-image: url(../../common/images/icon-arrow-gray3-down-12-7.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.c-accordion__button[aria-expanded=true]:after {
    transform: rotateX(180deg);
}

.c-accordion__button[aria-expanded=true] .expand {
    display: none;
}

.c-accordion__box--expand .c-accordion__body {
    display: block;
}



/* accordion-wrap01 */
/* CT000F */
.accordion-wrap01 .example .searchAddressSelect {
    border-radius: 0.75rem;
    background-image: none;
}

.accordion-wrap01 .example .searchAddressSelect[open] {
    border: 0.0625rem solid #cbc8c2;
}

.accordion-wrap01 .example .my-input ul .c-input-item label {
    color: #333;
}

.accordion-wrap01 .example .buy-new-address .c-checkout-step01-formbox .my-input .c-input-item label, 
.accordion-wrap01 .example .buy-new-address .c-checkout-step01-formbox .my-input .c-select-item label {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.875rem;
    line-height: 1rem;
    margin-bottom: 0.375rem;
}

.accordion-wrap01 .example .searchAddress__title {
    position: relative;
    height: auto;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #333;
    padding: 0.75rem 2.1875rem 0.75rem 0.8125rem;
    border: 0.0625rem solid #cbc8c2;
    border-radius: 0.75rem;
    min-height: 2.75rem;
}

/* CT000F > summary (acc head) */
.accordion-wrap01 .example .searchAddressSelect summary {
    list-style: none;
    background-image: none;
}

.accordion-wrap01 .example .searchAddressSelect summary::marker {
    display: none;
    content: "";
}

.accordion-wrap01 .example .searchAddress__title:after {
    content: "";
    display: block;
    position: absolute;
    right: 0.875rem;
    top: calc(50% - 0.25rem);
    width: 0.75rem;
    height: 0.5rem;
    background-color: #fff;
    background-repeat: no-repeat;
    background: url(../../common/images/icon-arrow-gray3-down-12-8.svg);
    background-position: 0 0;
    background-size: contain;
}

.accordion-wrap01 .example .searchAddressSelect[open] .searchAddress__title {
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.accordion-wrap01 .example .searchAddressSelect[open] .searchAddress__title:after {
    transform: rotate(180deg);
}

/* CT000F > acc body */
.accordion-wrap01 .example .searchAddress__inr {
    border: 0.0625rem solid #cbc8c2;
    border-radius: 0.75rem;
}

.accordion-wrap01 .example .searchAddressSelect .searchAddress__inr {
    border-radius: 0;
    padding: 0.75rem 0.75rem 0;
    border: none;
    border-top: 0.0625rem solid #cbc8c2;
}

/* CT000F > acc body > input */
.accordion-wrap01 .example .my-input ul .c-input-item {
    position: relative;
}

.accordion-wrap01 .example .my-input input {
    padding: 0.8125rem 1rem;
}

.accordion-wrap01 .example .my-input .my-warn {
    border-color: #ea1917;
}

.accordion-wrap01 .example .my-input input.my-warn {
    padding-right: 2.5rem;
    border-color: #ea1917 !important;
}

.accordion-wrap01 .example .buy-new-address .c-checkout-step01-formbox .my-input .c-input-item input, 
.accordion-wrap01 .example .buy-new-address .c-checkout-step01-formbox .my-input .c-select-item input {
    height: auto;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #333;
    padding: 0.75rem 0.8125rem;
    border: 0.0625rem solid #cbc8c2;
    border-radius: 0.75rem;
    max-height: 2.75rem;
}

.accordion-wrap01 .example .my-input .c-warning {
    color: #ea1917;
    margin-top: 0.375rem;
    padding-left: 0.8125rem;
    font-size: 0.8125rem;
    line-height: 0.875rem;
}

/* CT000F > acc body > list */
.accordion-wrap01 .example .searchAddress__list {
    padding: 0 0.75rem;
    overflow: auto;
    max-height: 9.75rem;
    border-top: 0.0625rem solid #cbc8c2;
    padding-bottom: 0.75rem;
}

.accordion-wrap01 .example .searchAddressSelect .searchAddress__list {
    margin-top: 0.1875rem;
    border-top: none;
    padding-left: 0;
    padding-right: 0;
}

.accordion-wrap01 .example .searchAddress__item {
    display: block;
    position: relative;
    width: 100%;
    padding: 0.375rem 1rem 0 0;
    border: none;
    color: #646464;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: left;
    background: #fff;
    cursor: pointer;
}

.accordion-wrap01 .example .searchAddress__item:hover {
    text-decoration: underline;
}

.accordion-wrap01 .example .searchAddress__item:first-child {
    padding-top: 0.75rem;
}

.accordion-wrap01 .example .searchAddressSelect .searchAddress__item:first-child {
    padding-top: 0.5625rem;
}

/* accordion-wrap02 */
.accordion-wrap02 .c-checkout-step02 {
    margin-top: 1rem;
    padding: 0.9375rem 1rem;
    border: 0.0625rem solid #cbc8c2;
    border-radius: 0.75rem;
}

.accordion-wrap02 .c-checkout-step02-form {
    padding: 0;
}

.accordion-wrap02 .c-checkout-step02-form__title {
    padding: 1.25rem 1rem 0.625rem;
    padding-bottom: 0;
}

.accordion-wrap02 .c-checkout-step02__box {
    padding: 1.25rem 1rem 1rem;
}

.accordion-wrap02 .c-checkout-step02__box .c-input-item--radio-select-box .c-radio-item {
    position: relative;
}

.accordion-wrap02 .c-checkout-step02__box .c-input-item--radio-select-box .c-radio-item .label {
    font-size: 0.875rem;
    color: #333;
}

.accordion-wrap02 .c-checkout-step02__box .c-input-item--radio-select-box .c-radio-item input[type=radio] + .radio .label::before {
    content: "";
    display: inline-block;
    min-width: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
    border: 0.0625rem solid #000;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0.25rem;
}

.accordion-wrap02 .c-checkout-step02__box .c-input-item--radio-select-box .c-radio-item input[type=radio]:checked + .radio .label::before {
    background-image: url(../../common/images/icon-check-white-15-12.svg);
    background-color: #ea1917;
    border-color: #ea1917;
}

.accordion-wrap02 .c-checkout-step02__box .c-input-item--radio-select-box .c-radio-item .c-input-item--radio-select-box__content {
    display: none;
}

.accordion-wrap02 .c-checkout-step02__box .c-input-item--radio-select-box .c-radio-item input[type=radio]:checked + .radio + .c-input-item--radio-select-box__content {
    display: block;
}

.accordion-wrap02 .c-checkout-step02-form .my-input {
    padding: 0.75rem 1rem 1.25rem;
    text-align: left;
}

.accordion-wrap02 .c-checkout-step02-form .my-input ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.accordion-wrap02 .c-checkout-step02 ul li {
    list-style: none;    
}

.accordion-wrap02 .c-checkout-step02-form .my-input ul li {
    margin: 0;
    width: 100%;
}

.accordion-wrap02 .c-checkout-step02-form .my-input ul li + li {
    margin-top: 1.5rem;
}

.accordion-wrap02 .c-checkout-step02-form .my-input ul .c-input-item label {
    color: #333;
    font-size: 0.875rem;
    line-height: 1rem;
}

.accordion-wrap02 .c-checkout-step02-form .my-input ul .c-input-item {
    position: relative;
}

.accordion-wrap02 .c-checkout-step02-form .my-input ul .c-input-item label, 
.accordion-wrap02 .c-checkout-step02-form .my-input ul .c-select-item label {
    display: inline-block;
    vertical-align: middle;
}

.accordion-wrap02 .c-checkout-step02-form .my-input input {
    padding: 0.75rem 0.8125rem;
    max-height: 2.75rem;
    border-radius: 0.75rem;
    font-size: 1rem;
    line-height: 1.25rem;
    height: auto;
    border: 0.0625rem solid #cbc8c2;
    color: #333;
}

/* accordion-wrap03 */
.accordion-wrap03 .buy-delivery-box__item .c-accordion__box {
    margin-bottom: 0;
}

.accordion-wrap03 .buy-delivery-box__item .c-accordion__head {
    position: relative;
    padding: 0.75rem 0.8125rem;
    border: 0.0625rem solid #cbc8c2;
    border-radius: 0.75rem;
}

.accordion-wrap03 .buy-delivery-box__item .c-accordion__box--expand .c-accordion__head {
    border-radius: 0.75rem 0.75rem 0 0;
}

.accordion-wrap03 .buy-delivery-box__item .c-accordion__head__container {
    padding-right: 1.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-wrap03 .buy-delivery-box__item .c-accordion__head-text {
    display: inline-block;
    position: relative;
    width: 72%;
    line-height: 1.25rem;
}

.CT000C .CT0302 .buy-delivery-box__item .c-accordion__head-text span.c-accordion__initial {
    position: relative;
    padding-right: 1.25rem;
}

.accordion-wrap03 .buy-delivery-box__item .c-accordion__head-text + .buy-delivery-box__head {
    text-align: right;
}

.accordion-wrap03 .buy-delivery-box__item .c-accordion__button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 0;
    padding-right: 1rem;
}

.accordion-wrap03 .buy-delivery-box__item .c-accordion__button:after {
    background-image: url(../../common/images/icon-arrow-gray3-down-10-6.svg);
    background-position: bottom;
    width: 0.75rem;
    height: 0.75rem;
}

.accordion-wrap03 .buy-delivery-box__item .c-accordion__button[aria-expanded=true]:after {
    transform: rotateX(180deg);
}

.accordion-wrap03 .buy-delivery-box__select {
    padding: 0.75rem 0.8125rem;
    border-width: 0 0.0625rem 0.0625rem 0.0625rem;
    border-style: solid;
    border-color: #cbc8c2;
    border-radius: 0 0 0.75rem 0.75rem;
}

.accordion-wrap03 .buy-delivery-box__select .c-button[class*=-box].medium {
    background-color: #fff;
    border: 0.0625rem solid #cbc8c2;
    border-radius: 0.75rem;
    width: 100%;
    height: auto;
    display: block;
    text-align: left;
    padding: 0.75rem 0.8125rem;
    position: relative;
    color: #000;
}

.accordion-wrap03 .buy-delivery-box__select .c-button[class*=-box].medium span {
    font-size: 1rem;
    line-height: 1.125rem;
    color: #666;
    font-weight: 400;
    text-transform: none;
    color: #646464;
}


@media (max-width: 48rem) {
    /* _font.scss */
    .font-m-normal-14 {
        font-size: 0.875rem;
        line-height: 1rem;
        font-weight: 400;
    }

    .font-m-normal-16 {
        font-size: 1rem;
        line-height: 1.125rem;
        font-weight: 400;
    }
}
@media (min-width: 769px) {
    /* _font.scss */
    .font-w-normal-20 {
        font-size: 1.25rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
    
    .font-w-normal-24 {
        font-size: 1.5rem;
        line-height: 1.75rem;
        font-weight: 400;
    }

    .font-w-semibold-16 {
        font-size: 1rem;
        line-height: 1.25rem;
        font-weight: 600;
    }

    .font-w-normal-14 {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    /* _button.scss */
    .c-icon-button {
        font-size: 1rem;
        line-height: 1rem;
    }

    .c-icon-button:before {
        width: 1.5rem;
        height: 1.5rem;
    }

    /* _form.scss */
    .c-input-item label {
        display: block;
        color: #333;
        margin-bottom: 0.5rem;
    }

    .c-input-item input, 
    .c-input-item textarea {
        height: 2.75rem;
    }

    .c-warning {
        margin-top: 0.5rem;
        font-size: 0.875rem;
        line-height: 1rem;
    }

    /*_accordion.scss */
    .c-accordion__button:after {
        width: 1.125rem;
        height: 0.625rem;
        background-image: url(../../common/images/icon-arrow-gray3-down-18-10.svg);
    }

    /* accordion-wrap01 */
    /* CT000F */
    .accordion-wrap01 .example .buy-new-address .c-checkout-step01-formbox .my-input .c-input-item label, 
    .accordion-wrap01 .example .buy-new-address .c-checkout-step01-formbox .my-input .c-select-item label {
        font-size: 1rem;
        line-height: 1.125rem;
    }

    /* CT000F > summary (acc head) */
    .accordion-wrap01 .example .searchAddress__title:after{
        top: calc(50% - 0.375rem);
        width: 0.75rem;
        height: 0.5rem;
    }
    
    /* CT000F > acc body > input */
    .accordion-wrap01 .example .my-input input {
        font-size: 0.875rem;
    }

    .accordion-wrap01 .example .my-input .c-warning {
        font-size: 0.875rem;
        line-height: 1rem;
        margin-top: 0.5rem;
    }

    /* accordion-wrap02 */
    .accordion-wrap02 .c-checkout-step02 {
        margin-top: 1rem;
        padding: 1.5rem;
    }

    .accordion-wrap02 .c-checkout-step02-form .my-input ul li + li {
        margin-top: 1rem;
    }

    .accordion-wrap02 .c-checkout-step02-form__title {
        padding: 1.5rem 1.5rem 0.625rem;
        padding-bottom: 0;
    }

    .accordion-wrap02 .c-checkout-step02__box {
        padding: 1.25rem 1.5rem;
    }

    .accordion-wrap02 .c-checkout-step02__box .c-input-item--radio-select-box .c-radio-item .label {
        font-size: 1rem;
    }
    
    .accordion-wrap02 .c-checkout-step02-form .my-input {
        padding: 1.25rem 1.5rem;
    }

    .accordion-wrap02 .c-checkout-step02-form .my-input ul .c-input-item label {
        font-size: 1rem;
        line-height: 1.125rem;
    }

    /* .accordion-wrap03 */
    .accordion-wrap03 .buy-delivery-box__item .c-accordion__head-text {
        width: auto;
    }

    .accordion-wrap03 .buy-delivery-box__item .c-accordion__button:after {
        width: 0.75rem;
        height: 0.75rem;
    }

    .accordion-wrap03 .buy-delivery-box__select .c-button[class*=-box].medium span {
        font-size: 1rem;
        line-height: 1.25rem;
    }
}