/* _form.scss */
.example .c-input-item label {
    display: block;
    color: #333;
    margin-bottom: 0.5rem;
}

.example .c-input-item input, 
.example .c-input-item textarea {
    width: 100%;
    height: 2.75rem;
    padding-left: 0.8125rem;
    padding-right: 0.8125rem;
    border: 0.0625rem solid #cbc8c2;
    background-color: #fff;
    border-radius: 0.75rem;
}

.example .c-input-item input.my-warn, 
.example .c-input-item textarea.my-warn {
    border-color: #ea1917;
}

.example .c-warning {
    color: #ea1917;
    position: relative;
    padding-left: 0.8125rem;
    margin-top: 0.375rem;
    font-size: 0.75rem;
    line-height: 0.875rem;
}

/* CT000F */
.example .searchAddressSelect {
    border-radius: 0.75rem;
    background-image: none;
}

.example .searchAddressSelect[open] {
    border: 0.0625rem solid #cbc8c2;
}

.example .my-input ul .c-input-item label {
    color: #333;
}

.example .buy-new-address .c-checkout-step01-formbox .my-input .c-input-item label, 
.example .buy-new-address .c-checkout-step01-formbox .my-input .c-select-item label {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.875rem;
    line-height: 1rem;
    margin-bottom: 0.375rem;
}

.example .searchAddress__title {
    position: relative;
    height: auto;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #333;
    padding: 0.75rem 2.1875rem 0.75rem 0.8125rem;
    border: 0.0625rem solid #cbc8c2;
    border-radius: 0.75rem;
    min-height: 2.75rem;
}

/* CT000F > summary (acc head) */
.example .searchAddressSelect summary {
    list-style: none;
    background-image: none;
}

.example .searchAddressSelect summary::marker {
    display: none;
    content: "";
}

.example .searchAddress__title:after {
    content: "";
    display: block;
    position: absolute;
    right: 0.875rem;
    top: calc(50% - 0.25rem);
    width: 0.75rem;
    height: 0.5rem;
    background-color: #fff;
    background-repeat: no-repeat;
    background: url(../../common/images/icon-arrow-gray3-down-12-8.svg);
    background-position: 0 0;
    background-size: contain;
}

.example .searchAddressSelect[open] .searchAddress__title {
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.example .searchAddressSelect[open] .searchAddress__title:after {
    transform: rotate(180deg);
}

/* CT000F > acc body */
.example .searchAddress__inr {
    border: 0.0625rem solid #cbc8c2;
    border-radius: 0.75rem;
}

.example .searchAddressSelect .searchAddress__inr {
    border-radius: 0;
    padding: 0.75rem 0.75rem 0;
    border: none;
    border-top: 0.0625rem solid #cbc8c2;
}

/* CT000F > acc body > input */
.example .my-input ul .c-input-item {
    position: relative;
}

.example .my-input input {
    padding: 0.8125rem 1rem;
}

.example .my-input .my-warn {
    border-color: #ea1917;
}

.example .my-input input.my-warn {
    padding-right: 2.5rem;
    border-color: #ea1917 !important;
}

.example .buy-new-address .c-checkout-step01-formbox .my-input .c-input-item input, 
.example .buy-new-address .c-checkout-step01-formbox .my-input .c-select-item input {
    height: auto;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #333;
    padding: 0.75rem 0.8125rem;
    border: 0.0625rem solid #cbc8c2;
    border-radius: 0.75rem;
    max-height: 2.75rem;
}

.example .my-input .c-warning {
    color: #ea1917;
    margin-top: 0.375rem;
    padding-left: 0.8125rem;
    font-size: 0.8125rem;
    line-height: 0.875rem;
}

/* CT000F > acc body > list */
.example .searchAddress__list {
    padding: 0 0.75rem;
    overflow: auto;
    max-height: 9.75rem;
    border-top: 0.0625rem solid #cbc8c2;
    padding-bottom: 0.75rem;
}

.example .searchAddressSelect .searchAddress__list {
    margin-top: 0.1875rem;
    border-top: none;
    padding-left: 0;
    padding-right: 0;
}

.example .searchAddress__item {
    display: block;
    position: relative;
    width: 100%;
    padding: 0.375rem 1rem 0 0;
    border: none;
    color: #646464;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: left;
    background: #fff;
    cursor: pointer;
}

.example .searchAddress__item:hover {
    text-decoration: underline;
}

.example .searchAddress__item:first-child {
    padding-top: 0.75rem;
}

.example .searchAddressSelect .searchAddress__item:first-child {
    padding-top: 0.5625rem;
}

@media (max-width: 48rem) {
    /* _font.scss */
    .example .font-m-normal-14 {
        font-size: 0.875rem;
        line-height: 1rem;
        font-weight: 400;
    }

    .example .font-m-normal-16 {
        font-size: 1rem;
        line-height: 1.125rem;
        font-weight: 400;
    }
}
@media (min-width: 769px) {
    /* _font.scss */
    .example .font-w-normal-20 {
        font-size: 1.25rem;
        line-height: 1.5rem;
        font-weight: 400;
    }

    .example .font-w-normal-14 {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    /* _form.scss */
    .example .c-input-item label {
        display: block;
        color: #333;
        margin-bottom: 0.5rem;
    }

    .example .c-input-item input, 
    .example .c-input-item textarea {
        height: 2.75rem;
    }

    .example .c-warning {
        margin-top: 0.5rem;
        font-size: 0.875rem;
        line-height: 1rem;
    }

    /* CT000F */
    .example .buy-new-address .c-checkout-step01-formbox .my-input .c-input-item label, 
    .example .buy-new-address .c-checkout-step01-formbox .my-input .c-select-item label {
        font-size: 1rem;
        line-height: 1.125rem;
    }

    /* CT000F > summary (acc head) */
    .example .searchAddress__title:after{
        top: calc(50% - 0.375rem);
        width: 0.75rem;
        height: 0.5rem;
    }
    
    /* CT000F > acc body > input */
    .example .my-input input {
        font-size: 0.875rem;
    }

    .example .my-input .c-warning {
        font-size: 0.875rem;
        line-height: 1rem;
        margin-top: 0.5rem;
    }
}